<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Videos - VPortal</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="content/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="content/css/font-awesome.min.css" rel="stylesheet">
		<!-- Magnific Popup -->
		<link href="content/css/magnific-popup.css" rel="stylesheet">
		<!-- Owl carousel -->
		<link href="content/css/owl.carousel.css" rel="stylesheet">
		
		<!-- CSS for this page -->
		
		<!-- Base style -->
		<link href="content/css/style.css" rel="stylesheet">
		<!-- Skin CSS -->
		<link href="content/css/skin-lblue.css" rel="stylesheet" id="color_theme">
		<!-- Alertify CSS -->
		<link href="content/css/alertify.min.css" rel="stylesheet">
		<!-- Animate CSS -->
		<link href="content/css/animate.css" rel="stylesheet">
		<link href="content/css/themes/default.min.css" rel="stylesheet">
		
		<!--Starr CSS-->
		<link rel="stylesheet" href="content/css/starrr.css">

		<!-- Custom CSS. Type your CSS code in custom.css file -->
		<link href="content/css/custom.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
		<!-- jQuery js-->
		<script src="scripts/ThirdParty/jquery.js"></script>
		<script src="scripts/ThirdParty/jquery.nicescroll.min.js" type='text/javascript'></script>
		<!-- angular js-->
		<script src="scripts/ThirdParty/angular.min.js" type="text/javascript"></script>
		<!-- angular-route js-->
		<script src="scripts/ThirdParty/angular-route.min.js" type="text/javascript"></script>
		<!-- ng-infinite-scroll js-->
		<script src="scripts/ThirdParty/ng-infinite-scroll.js" type='text/javascript'></script>
		<!-- loaction update without js-->
		<script src="scripts/ThirdParty/angular-location-update.min.js" type='text/javascript'></script>
		<!-- Angular match-media js-->
		<script src="scripts/ThirdParty/match-media.js" type='text/javascript'></script>
		<!-- Aplication logic js-->
		<script src="scripts/App/Core/app.js" type="text/javascript"></script>
		<!-- Utilities js-->
		<script src="scripts/App/Core/utils.js" type="text/javascript"></script>
		<!-- Controllers section js-->
		<script src="scripts/App/Controllers/VideosController.js" type="text/javascript"></script>
		<script src="scripts/App/Controllers/VideoController.js" type="text/javascript"></script>
		<script src="scripts/App/Controllers/LoginController.js" type="text/javascript"></script>
	    <!-- Controllers section ends js-->
	</head>
	
	<!-- Add class "boxed" along with body for boxed layout. -->
	<!-- Add "pattern-x" (1 to 5) for background patterns. -->
	<!-- Add "img-x" (1 to 5) for background images. -->
	<body ng-app="app" >

		<div class="outer">
			
						<!-- Top bar starts -->
			<div class="top-bar no-visible" ng-if="isAuthenticated" ng-class="{'visible': isAuthenticated }">
				<div class="container">

					<!-- Contact starts -->
					<div class="tb-contact pull-left">
						<!-- Email -->
						<i class="fa fa-user color"></i> &nbsp; <a href="" ng-bind="userName"></a>
					</div>
					<!-- Contact ends -->

					<!-- Shopping kart starts -->
					<div class="tb-shopping-cart pull-right">
						<!-- Link with badge -->
						<a href="#" ng-click="logOut()" class="btn btn-white btn-xs b-dropdown"><i class="fa  fa-sign-out"></i>  Log out </a>
					</div>
					<!-- Shopping kart ends -->

					<div class="clearfix"></div>
				</div>
			</div>

			<!-- Top bar ends -->

			<div class="header-2" >
			
				<!-- Container -->
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<!-- Logo section -->
							<div class="logo" style="margin:0 auto;">
								<h1><a href="#/"><i class="fa fa-laptop"></i> VPortal</a></h1>
							</div>
						</div>
						<div class="col-md-9">
						
							<!-- Navigation starts.  -->
							<div class="navy no-visible" ng-if="isAuthenticated" ng-class="{'visible': isAuthenticated }">			
								<ul>
									<!-- Main menu -->
									<li ng-if="isAuthenticated" class="no-visible" ng-class="{'visible': isAuthenticated }" ><a href="#/">Videos</a></li>
								</ul>
							</div>							
							<!-- Navigation ends -->
							
						</div>
						
						<div class="col-md-1">
							
							<!-- Search section -->
							<div ng-show="isAuthenticated && showSearch == '/'" ng-class="{'visible': isAuthenticated && showSearch == '/'}" class="head-search pull-right no-visible">
								<a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
								<div class="b-dropdown-block">
									<form role="form">
										<!-- Input Group -->
										<div  class="input-group" >
											<input type="text" class="form-control" placeholder="Type Something" ng-model="search">
											<span class="input-group-btn">
												<button  class="btn btn-color" type="button">Search</button>
											</span>
										</div>
									</form>
								</div>
							</div>
							<!-- Search section ends -->
							<div class="clearfix"></div>
							
						</div>
						
					</div>
				</div>
			</div>

			<div class="main-block" ng-view></div>
			
			<footer>
				<!-- Container -->
				<div class="container">
					<!-- Footer Content -->
						<!-- Paragraph -->
						<p class="pull-left">2016 - <a href="">VMeta</a></p>
						<!--<ul class="list-inline pull-right">
						
							<li><a href="index.html">Home</a><li>
							<li><a href="service.html">Service</a></li>
							<li><a href="feature.html">Features</a></li>
							<li><a href="about-us.html">About</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>-->
						<!-- Clearfix -->
						<div class="clearfix"></div>
				</div>
			</footer>
			
			<!-- Footer Ends -->
		
		</div>
		
		<!-- Outer Ends -->		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>
		
		<!-- Javascript files -->
		<!-- Bootstrap JS -->
		<script src="scripts/ThirdParty/bootstrap.min.js"></script>
		<!-- Placeholders JS -->
		<script src="scripts/ThirdParty/placeholders.js"></script>
		<!-- Magnific Popup -->
		<script src="scripts/ThirdParty/jquery.magnific-popup.min.js"></script>
		<!-- Owl carousel -->
		<script src="scripts/ThirdParty/owl.carousel.min.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="scripts/ThirdParty/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="scripts/ThirdParty/html5shiv.js"></script>
		<!-- Main JS -->
		<script src="scripts/ThirdParty/main.js"></script>
		<!-- Alertify JS -->
		<script src="scripts/ThirdParty/alertify.min.js"></script>
		
		<!--Starr-->
		<script src="scripts/ThirdParty/starrr.js"></script>
		<!-- Javascript for this page -->
		
		<!-- Custom JS. Type your JS code in custom.js file -->
		<script src="scripts/ThirdParty/custom.js"></script>
		
		<!-- 
		Style switcher. This is just for demo purpose only. 
		If you don't want remove the below line.
		Some of the features of style switcher won't work on offline. THey only work when you upload it to server 
		-->

	</body>	

</html>