/* Your CSS codes here */
.video-element{
    height: 320px;
    border: 1px solid #eee;
    margin-bottom: 21px;
    border-radius: 9px;
    background: #fafafa;
    padding: 7px;
}
.video-raking{
    font-size: 22px;
    border-top: 1px solid #eeeeee;
}
.video-raking > a:focus{
    color: #1faabe;
}
.video-raking > span{
    font-size: 22px;
}
.video-title > h4{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-description{
    text-align: left;
}
.video-content > video{
    width: 100%;  
    height: 150px;
    border-bottom: 2px solid black;  
}

.more-videos{
    cursor: pointer;
}

.no-visible{
    display: none ;
}
.visible{
    display: inline !important;
}
.video-list{
    height: 682px; 
}
.video-ranking-active{
    font-size: 22px;
}

@media(max-width: 991px ){
    .fixed-resolution{
         margin-left: 25%;
        }
}
@media(max-width: 886px ){
    .fixed-resolution{
         margin-left: 16.66666667%;
        }
}
@media(max-width: 674px ){
    .fixed-resolution{
         margin-left: 8.33333333%;
        }
}
@media(max-width: 520px ){
    .fixed-resolution{
         margin-left: 0;
        }
}