<!-- Page heading two starts -->

<div class="page-heading-two text-center">
	<div class="container">
		<h3>Oops<span class="color">!</span> It<span class="color">'</span>s 404<span class="color">!</span></h3>
	</div>
</div>

<!-- Page heading two ends -->

<div class="container">

	<div class="error-inside text-center">
		<h5>It seems like something went wrong. Now you <br />are left with following choices.</h5>
		<h6>Come Back Later (<span class="color">or</span>)  <a href="#/">Visit Home Page</a></h6>

	</div>

</div>