

<!-- Page heading two ends -->
<div class="container jumbotron">
	<div class="row">
		<div class="col-md-7 jumbotron">
			<h2 class="text-center">Login to your account</h2>
			<br />
			<h3 class="text-center">Welcome to VPortal videos, please provide the username and password to enter to the system</h3>
			<br />
		</div>
		<div class="col-md-5 fixed-resolution">
			<!-- Login starts -->
			<div class="well login-reg-form">
				<!-- Heading -->
				<h4>Login to your Account</h4>
				<hr />
				<!-- Form -->
				<form class="form-horizontal" role="form" name="login" id="login" autocomplete="off">
					<!-- Form Group -->
					<div class="form-group">
						<!-- Label -->
						<label for="user" class="col-sm-3 control-label">Username</label>
						<div class="col-sm-9">
							<!-- Input -->
							<input ng-model="model.username" type="text" class="form-control" id="user" placeholder="Enter Username" required>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-9">
							<input ng-model="model.password" type="password" class="form-control" id="password" placeholder="Enter Password" required>
						</div>
					</div>
					<!--<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<div class="checkbox">
								<label>
													<input type="checkbox"> Remember Me
												</label>
							</div>
						</div>
					</div>-->
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<!-- Button -->
							<button ng-click="access(login.$valid)" ng-disabled="login.$invalid" type="buttton" class="btn btn-red">Login</button>&nbsp;
							<button type="reset" class="btn btn-white">Reset</button>
						</div>
					</div>
					<div class="col-sm-offset-3 col-sm-9">
						<a href="#" class="black">Forgot Password ?</a>
					</div>
				</form>
				<br />
				<hr />
			</div>
			<!-- Login ends -->
		</div>
	</div>
</div>