<div class="page-heading-two">
	<div class="container">
		<h2>Showing Video...</h2>
		<div class="clearfix"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8  col-lg-9" >
			<div ng-if="model.videoActual">			
				<div class="video-title-active">
					<h4 ng-bind="model.videoActual.name"></h4>
				</div>
				<div class="video-content-active">
					<video class="video-active on-play-video" width="100%" height="100%" controls autoplay>
						<source ng-src="{{model.videoActual.url}}" type="video/mp4">
					</video>
				</div>
				<div class="video-footer-active">
					<div class="video-ranking-active" id="{{model.videoActual._id}}"  ng-init="buildStarActive()" ng-click="ratingVideo(model.videoActual, $event)"></div>
					<div class="video-description-active">
						<p ng-bind="model.videoActual.description" ></p>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div class="col-xs-10 col-sm-4 col-lg-3 col-xs-offset-1 col-sm-offset-0  video-list my-scroll-area">
			<div class="row">
				<div class="col-xs-12" ng-repeat="video in model.videos | orderBy: '_id'" on-finish-render="buildStar()">
					<div class="video-element">
						<div class="video-title">
							<h4>
								<a ng-click="getVideoActual(video)" ng-bind="video.name" href=""></a>
							</h4>
						</div>
						<div class="video-content">
							<video controls class="on-play-video">
								<source ng-src="{{video.url}}" type="video/mp4">
							</video>
						</div>
						<div class="video-footer">
							<div class="video-raking" id="{{video._id}}" ng-click="ratingVideo(video, $event)"></div>
							<div class="video-description">
								<p ng-bind="video.description" ></p>
							</div>
						</div>
					</div>
				</div>
				<p  class="text-center"><a class="more-videos" ng-click="loadVideos()" ng-bind="label" disable></a></p>
			</div>
		</div>
	</div>
</div>

