<div class="page-heading-two">
	<div class="container">
		<h2>Videos <span>All videos that you can see</span></h2>
		<div class="clearfix"></div>
	</div>
</div>

<div class="container"  infinite-scroll="loadVideos()" infinite-scroll-disabled="isExecutingLoadVideos">
   
		<div class="row">
				<div class="img-box-1 text-center">
					<!-- container -->
					<div class="container">
						<div class="row" >
							<div class="col-md-3 col-sm-6 animated fadeIn" ng-repeat="video in model.videos | filter : search" on-finish-render="buildStar()">
								<div class="video-element">
									<div class="video-title"><h4><a ng-href="#/video/{{video._id}}" ng-bind="video.name"></a></h4></div>
									<div class="video-content">
										<video controls class="on-play-video">
											<source ng-src="{{video.url}}" type="video/mp4">
										</video>
									</div>
									<div class="video-footer">
										<div class="video-raking" id="{{video._id}}" ng-click="ratingVideo(video, $event)"></div>
										<div class="video-description">
											<p ng-bind="video.description" ></p>
										</div>
									</div>
								</div>							
							</div>
						</div>
						<div class="row" ng-if="noMoreVideos">
							<p  class="text-center" ><a >No more videos found</a></p>
						</div>
					</div>
				</div>			
		</div>
</div>